{% if pagination.pages_quantity > 1 %}
    <ul class="pagination">
        {% if pagination.current_page > 1 %}
            <li class="prev_page">
                <a href="{{ url(pagination.route_name, {page: pagination.current_page - 1}) }}">Назад</a>
            </li>
        {% endif %}

        {% for i in range(1, pagination.pages_quantity) %}
            <li class="page">
                {% if i == pagination.current_page %}
                    <span class="current_page">{{ i }}</span>
                {% else %}
                    <a href="{{ url(pagination.route_name, {page: i}) }}">{{ i }}</a>
                {% endif %}
            </li>
        {% endfor %}

        {% if pagination.current_page < pagination.pages_quantity %}
            <li class="next_page">
                <a href="{{ url(pagination.route_name, {page: pagination.current_page + 1}) }}">Вперёд</a>
            </li>
        {% endif %}
    </ul>
{% endif %}