{% if pagination.pages_quantity > 1 %}
    <ul class="pagination">
        {% if pagination.current_page > 1 %}
            <li class="page_next">
                <a href="{{ url(pagination.route_name, {page: pagination.current_page - 1}) }}">{{ 'pagination_next'|trans }}</a>
            </li>
        {% endif %}

        {% set start_page = 1 %}
        {% set end_page = pagination.pages_quantity %}

        {% if (pagination.current_page - pagination.near_pages - 1) > 1 %}
            {% set start_page = pagination.current_page - pagination.near_pages %}
            {% set first_page_block %}
                <li>
                    <a href="{{ url(pagination.route_name, {page: 1}) }}">1</a>
                </li>
                <li class="points">...</li>
            {% endset %}
        {% endif %}

        {% if (pagination.current_page + pagination.near_pages + 1) < pagination.pages_quantity %}
            {% set end_page = pagination.current_page + pagination.near_pages %}
            {% set last_page_block %}
                <li class="points">...</li>
                <li>
                    <a href="{{ url(pagination.route_name, {page: pagination.pages_quantity}) }}">{{ pagination.pages_quantity }}</a>
                </li>
            {% endset %}
        {% endif %}

        {% if first_page_block is defined %}{{ first_page_block }}{% endif %}

        {% for i in range(start_page, end_page) %}
            <li class="page">
                {% if i == pagination.current_page %}
                    <span class="current_page">{{ i }}</span>
                {% else %}
                    <a href="{{ url(pagination.route_name, {page: i}) }}">{{ i }}</a>
                {% endif %}
            </li>
        {% endfor %}

        {% if last_page_block is defined %}{{ last_page_block }}{% endif %}

        {% if pagination.current_page < pagination.pages_quantity %}
            <li class="page_prev">
                <a href="{{ url(pagination.route_name, {page: pagination.current_page + 1}) }}">{{ 'pagination_prev'|trans }}</a>
            </li>
        {% endif %}
    </ul>
{% endif %}