{% extends "index.twig" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h1 class="title">{{ post.title }}</h1>
    <div class='date'>{{ post.date | date("d.m.Y H:i") }}</div>
    <div class="content">
        {{ post.content | raw }}
    </div>
    <br/>
    <div class="form_add_comment">
        <form action="" method="post">
            {{ form_widget(form) }}
            <input type="submit" name="submit" value="{{ 'submit' | trans }}"/>
        </form>
    </div>
    <div class="comments">
        {% for comment in post.comments %}
            {% include "comment.twig" %}
        {% endfor %}
    </div>
    
{% endblock %}